.day_mode {
    background-color: $white;
    color: $black;

    .footer {
        border-color: $navbar-night-color;
        opacity:0.8;
    }

    .carousel{
        .button{
            color: $navbar-day-color;
        }
    }

    .project_page {
        .scheme-day {
            display: block;
        }

        .scheme-night {
            display: none;
        }
    }

    .publications {
        .publication {
            border-color: $black;
        }

        a {
            color: $black;
        }
    }

    .all_projects_page {
        .backgorund-icon-comp {
            color: $white;
        }

        .background_hover {
            background-color: $white;
        }

        .title{
            color: $black;
        }
    }
}

.night_mode {
    background-color: $night-background;
    color: $white;
    .navbar {
        .logo-section {
            background-color: $night-background;
        }

        .list {
            background-color: $night-background;
        }

        .logo { color: $navbar-day-color; }

        .burger { color: $navbar-day-color; }

        a { color: $navbar-day-color; }

        .active {
            background-color: $navbar-day-color;
            a {
                color: $navbar-night-color;
            }
        }

        .smile {
            color: $navbar-day-color;
            .icon-day {
                color: $navbar-day-color;
            }
            .icon-night {
                display: inline-block;
            }
        }

        .circle {
            border: 2px solid $navbar-night-color;
            background-color: $navbar-night-color;
            top: 16px;
			right: 11px;
        }
    }

    .footer {
        border-color: $white;
        opacity:0.4;
    }

    .carousel{
        .button{
            color: $navbar-day-color;
        }
    }

    .project_page {
        .scheme-day {
            display: none;
        }

        .scheme-night {
            display: block;
        }
    }

    .publications {
        .publication {
            border-color: $white;
        }

        a {
            color: $white;
        }
    }

    .all_projects_page {
        .backgorund-icon-comp {
            color: $night-background;
        }

        .background_hover {
            background-color: $white;
        }

        .title{
            color: $black;
        }
    }
}

@media(min-width: 992px) {
    .day_mode {
        .navbar1, .navbar2 { 
            .smile {
                color: $navbar-day-color;
                .icon-night {
                    display: none;
                    left: 8px;
                }
                .icon-day {
                    display: inline-block;
                    left: 8px;
                }
            }
            
            .circle {
                border: 2px solid $white;
                background-color: $white;
                top: 16px;
                left: 11px;
            }
        }

        .navbar1 {
            .logo-section {
                background-color: $navbar-day-color;
            }
    
            .list {
                background-color: $navbar-day-color;
            }
    
            .logo { color: $white; }
    
            .burger { color: $white; }
    
            a { color: $white; }
    
            .active {
                background-color: $white;
                a {
                    color: $navbar-day-color;
                }
            }

            li { 
                &:hover {
                    background-color: $nav-hover-day;
                }
            }

            .active {
                &:hover {background-color: $white;}
                a {
                    &:hover {color: $navbar-day-color;}
                }
            }
        }

        .navbar2 {
            .logo-section {
                background-color: $white;
            }
    
            .list {
                background-color: $white;
            }
    
            .logo { color: $navbar-day-color; }
    
            .burger { color: $navbar-day-color; }
    
            a { color: $navbar-day-color; }
    
            .active {
                background-color: $navbar-day-color;
                a {
                    color: $white;
                }
            }

            li { 
                &:hover {
                    background-color: $nav-hover-day-white;
                    a {
                        color: $navbar-day-color;
                    }
                }
            }

            .active {
                &:hover {background-color: $navbar-day-color;;}
                a {
                    &:hover {color: $white}
                }
            }
        }

        .all_projects_page {
            .meters {
                color: $navbar-day-color;
            }
        }
    }

    .night_mode {
        .navbar {
            li { 
                &:hover {
                    background-color: $nav-hover-night;
                }
            }

            .active {
                &:hover { background-color: $navbar-day-color; }
                a {
                    &:hover { color: $navbar-night-color; }
                }
            }

            .smile {
                .icon-day {
                    display: none;
                    left: 8px;
                }
                .icon-night {
                    left: 8px;
                }
            }
        }

        .all_projects_page {
            .meters {
                color: $navbar-day-color;
            }
        }
    }
}

@media(max-width: 991px) {
    .day_mode {
        .navbar1, .navbar2 {
            border-bottom: 1px solid $navbar-day-color;
            background-color: $navbar-day-color;

            .logo-section {
                background-color: $navbar-day-color;
            }
    
            .list {
                background-color: $navbar-day-color;
            }
    
            .logo { color: $white; }
    
            .burger { color: $white; }
    
            a { color: $white; }
    
            .active {
                background-color: $white;
                a {
                    color: $navbar-day-color;
                }
            }
    
            .smile {
                .icon-day {
                    display: inline-block;
                }
            }
            .circle {
                border: 2px solid $white;
                background-color: $white;
                top: 16px;
                left: 11px;
            }

            .smile {
                color: $white;
                .icon-night {
                    display: inline-block;
                }

                .circle {
                    border: 2px solid $navbar-day-color;
                    background-color: $navbar-day-color;
                }
            }
            .smile_wrapper {
                background-color: $navbar-day-color;
            }
        }

        .all_projects_page {
            .meters {
                color: $white;
            }
        }
    }

    .night_mode {
        .navbar {
            border-bottom: 1px solid $night-background;
            background-color: $night-background;
            .smile {
                background-color: $night-background;
                justify-content: center;
                .icon-day {
                    display: inline-block;
                }
            }

            .smile_wrapper {
                background-color: $night-background;
            }
        }

        .all_projects_page {
            .meters {
                color: $white;
            }
        }
    }
}