.day_mode {
    background-color: $navbar-night-color;
    color: $black;
    .navbar {
        background-color: $navbar-day-color;

        .logo { color: $white; }

        .burger { color: $white; }

        a { color: $white; }

        li { 
            &:hover {
                background-color: $nav-hover-day;
            }
        }

        .active {
            background-color: $white;
            &:hover {background-color: $white;}
            a {
                color: $navbar-day-color;
                &:hover {color: $navbar-day-color;}
            }
        }

        .smile {
            background-color: $white;
            color: $navbar-day-color;
            .icon-day {
                left: 8px;
                display: inline-block;
            }
            .icon-night {
                display: none;
            }
        }
        .circle {
            border: 2px solid $white;
            background-color: $white;
            top: 16px;
			left: 11px;
        }
    }
}

.night_mode {
    background-color: $night-background;
    color: $white;
    .navbar {
        background-color: $navbar-night-color;

        .logo { color: $navbar-day-color; }

        .burger { color: $navbar-day-color; }

        a { color: $navbar-day-color; }

        li { 
            &:hover {
                background-color: $nav-hover-night;
            }
        }

        .active {
            background-color: $navbar-day-color;
            &:hover { background-color: $navbar-day-color; }
            a {
                color: $navbar-night-color;
                &:hover { color: $navbar-night-color; }
            }
        }

        .smile {
            background-color: $night-background;
            color: $navbar-day-color;
            .icon-day {
                color: $navbar-day-color;
                left: 8px;
                display: none;
            }
            .icon-night {
                left: 8px;
                display: inline-block;
            }
        }
        .circle {
            border: 2px solid $navbar-night-color;
            background-color: $navbar-night-color;
            top: 16px;
			left: 11px;
        }
    }
}