.day_mode {
    background-color: $white;
    color: $black;
    .navbar {
        background-color: $navbar-day-color;

        .logo { color: $white; }

        .burger { color: $white; }

        a { color: $white; }

        .active {
            background-color: $white;
            a {
                color: $navbar-day-color;
            }
        }

        .smile {
            .icon-day {
                display: inline-block;
            }
        }
        .circle {
            border: 2px solid $white;
            background-color: $white;
            top: 16px;
			left: 11px;
        }
    }
}

.night_mode {
    background-color: $night-background;
    color: $white;
    .navbar {
        background-color: $navbar-night-color;

        .logo { color: $navbar-day-color; }

        .burger { color: $navbar-day-color; }

        a { color: $navbar-day-color; }

        .active {
            background-color: $navbar-day-color;
            a {
                color: $navbar-night-color;
            }
        }

        .smile {
            color: $navbar-day-color;
            .icon-day {
                color: $navbar-day-color;
            }
            .icon-night {
                display: inline-block;
            }
        }
        .circle {
            border: 2px solid $navbar-night-color;
            background-color: $navbar-night-color;
            top: 16px;
			right: 11px;
        }
    }
}

@media(min-width: 769px) {
    .day_mode {
        .navbar {
            .smile_wrapper{
                background-color: $white;
            }
            .smile {
                left: 8px;
                color: $navbar-day-color;
                .icon-night {
                    display: none;
                }
            }

            li { 
                &:hover {
                    background-color: $nav-hover-day;
                }
            }

            .active {
                &:hover {background-color: $white;}
                a {
                    &:hover {color: $navbar-day-color;}
                }
            }
        }
    }

    .night_mode {
        .navbar {
            li { 
                &:hover {
                    background-color: $nav-hover-night;
                }
            }

            .active {
                &:hover { background-color: $navbar-day-color; }
                a {
                    &:hover { color: $navbar-night-color; }
                }
            }

            .smile_wrapper{
                background-color: $night-background;
            }

            .smile {
                .icon-day {
                    display: none;
                    left: 8px;
                }
                .icon-night {
                    left: 8px;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .day_mode {
        .navbar {
            border-bottom: 1px solid $navbar-day-color;
            .smile {
                color: $white;
                .icon-night {
                    display: inline-block;
                }

                .circle {
                    border: 2px solid $navbar-day-color;
                    background-color: $navbar-day-color;
                }
            }
        }
    }

    .night_mode {
        .navbar {
            border-bottom: 1px solid $navbar-night-color;
            .smile {
                background-color: $navbar-night-color;
                justify-content: center;
                .icon-day {
                    display: inline-block;
                }
            }
        }
    }
}