/* Colors */
$navbar-day-color: #f8676c;
$navbar-night-color: #0c314c;
$white: #fff;
$black:#000;

/* Font sizes */
$paragraph-font-size: 16px;

/*fonts*/
$font: "Montserrat", sans-serif;

/*headlines*/

body {
	font-family: $font;
}