
.icon-logo1:before { content: '\e800'; } /* '' */
.icon-wnetrza:before { content: '\e801'; } /* '' */
.icon-day:before { content: '\e803'; } /* '' */
.icon-night:before { content: '\e804'; } /* '' */
.icon-smile:before { content: '\e805'; } /* '' */
.icon-pracownia:before { content: '\e806'; } /* '' */
.icon-kontakt:before { content: '\e809'; } /* '' */
.icon-logo2:before { content: '\e80a'; } /* '' */
.icon-domy:before { content: '\e80b'; } /* '' */
.icon-projkety:before { content: '\e80c'; } /* '' */
.icon-publikacje:before { content: '\e80d'; } /* '' */
.icon-left:before { content: '\e80e'; } /* '' */
.icon-lefthover:before { content: '\e80f'; } /* '' */
.icon-righthover:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */