.banner {
    width: 100%;
    position: relative;

    .logo{ 
        width: 60%;
        img {
        z-index: -1;
        width: 55%;
        position: absolute;
        bottom: -80px;
        right: 0;
    }
    }

    

    h1 {
        font-size: 35px;
        font-weight: 300;
        margin-top: 200px;
    }
}

@media(min-width: 769px) {
    .banner {
        img {
        }

        .artystyczna_przestrzen {
            bottom: 100px;
            margin-bottom: -23.5%;
        }
    }
}

@media(max-width: 768px) {
    .banner {
        img {
        }
    }
}