.carousel {
    position: relative;
    display: flex;
    align-items: center;

    .carousel-photo {
        display: none;
    }
    .carousel-active {
        display: inline-block;
    }

    .button {
        position: absolute;
    }
}


@media(min-width: 769px) {
    .carousel {
        .button {
            font-size: 35px;
        }

        .next-button {
            right: -40px;
    
        }
    
        .prev-button {
            position: absolute;
            left: -40px;
        }

        .right{
            .icon-righthover { display: none; }
            &:hover {
                .icon-righthover { display: inline-block; }
            }
        }
        
        .left {
            .icon-lefthover { display: none; }
            &:hover {
                .icon-lefthover { display: inline-block; }
            }
        }
    }
}

@media(max-width: 768px) {
    .carousel {
        .button {
            font-size: 25px;
        }
        .icon-lefthover { display: none; }
        .icon-righthover { display: none; }
        .next-button {
            right: -30px;
    
        }
    
        .prev-button {
            position: absolute;
            left: -30px;
        }
    }
}
