.welcome_section {
    border-bottom: solid;
    border-width: 0 0 1px 0;
    //position: relative;
    
    .OWname {
        width: 585px;
        height: 291px;
        position: relative;
    }

    h1 {
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        position: absolute;
        bottom: 20px;
    }

    .icon-logo1 {
        position: absolute;
        z-index: -1;
        font-size: 200px;
        right: 5px;
    }
}


@media (min-width: 769px) {
    .welcome_section {
    }
}


@media (max-width: 768px) {
    .welcome_section {
    }
}