.all_projects_page {
    .column {
        flex: 50%;
        max-width: 50%;
        overflow: hidden;
        .photo {
            width: 100%;
        }

    }
      
    .column .photo {
        margin-top: 5px;
    }

    .column2 {
        flex: 50%;
        max-width: 50%;
        overflow: hidden;
        .photo {
            width: 100%;
        }

    }

    .line {
        border-width: 0 0 2px 0;
        border-style: solid;
    }

    .thumbnail {
        position: relative;
        overflow: hidden;
        .title {
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px 30px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
        }

        .icon-wnetrza {
            transform: rotate(15deg);
        }
        
        .icon-domy {
            left: -80px;
            bottom: -75px;
        }
    }

    .background_hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        display: none;
        opacity: 0.6;
    }

    .meters {
        font-weight: 500;
        position: absolute;

    }

    .backgorund-icon {
        width: 100px;
        height: auto;
        position: absolute;
    }

    .backgorund-icon-comp {
        position: absolute;
        font-size: 130px;
        left: -68px;
        bottom: -65px;
    }
    
}

@media (max-width: 991px) {
    .all_projects_page {
        margin: 0 5px;
        .net {
            margin: 40px 0 10px; 
        }
        .column {
        flex: 100%;
        max-width: 100%;
            img {
                padding: 0 5px;
            }
        }   

        .background_hover {
            display: none;
        }

        .title {
            display: none;
        }

        .thumbnail {
            .backgorund-icon { opacity: 0.9; }
        }

        .meters {
            font-size: 10px;
            bottom: 0;
            left: 12px;
    
        }
    
        .backgorund-icon {
            bottom: 4px;
            left: 0;
        }

        .backgorund-icon-comp {
            display: none;
        }

        h3 {
            margin-left: 5px;
            margin-top: 8px;
            font-size: 16px;
        }
    }
}

@media (min-width: 992px) {
    .all_projects_page {
        margin: 0 20px;
        .net {
            margin: 50px 0 120px; 
        }
        .column {
        flex: 50%;
        max-width: 50%;
            img {
                padding: 0 5px;
            }
        }

        .column2 {
            img {
                padding: 0 5px;
            }
        }

        .thumbnail { 
            .meters {
                font-size: 15px;
                bottom: 0;
                left: 8px;
                display: none;
            }

            .backgorund-icon-comp {
                display: none;
            }

            .backgorund-icon {
                display: none;
            }

            .title{
                display: none;
            }

            &:hover {
                .background_hover {
                    display: block;
                }

                .title {
                    display: inline-block;
                }

                .meters {
                    display: inline-block;
                }

                .backgorund-icon-comp {
                    display: inline-block;
                }
            }
        }

        .big_icon {
            top: 105px;
            i {
                right: 0; 
            }
        }

        h3 {
            margin-top: 12px;
        }
    }
}

@media(min-width: 1200px){
    .all_projects_page {
        .big_icon {
            i {
            right: -100px;}
        }

        h3 {
            margin-top: 15px;
        }
    }
}  
