.publications {
    width: 100%;

    h1 {
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        margin: 80px 0 0 0;
    }

    .all_pubs {
        margin-bottom: 90px;
    }

    .publication {
        border-width: 1px 0 0;
        border-style: solid;
        padding-top: 20px;
        margin: 50px 0;

        .titleNews {
            display: flex;
            justify-content: space-between;
            align-items: baseline;            
        }
    }

    p {
        font-weight: 300;
        font-size: 11px;
    }

    .newspaper {
        img{ 
            width: 100%;
        }
    }
}