.navbar {
	top: 0;
	z-index: 10;
	position: fixed;
	.logo-section {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;
	}

	.logo {
		display: inline-block;
		font-size: 34px;
	}

	.list {
		margin: 0;
	}
	
	.icon {
		font-size: 28px;
		margin-left: 9px ;
	}

	.subpage {
		position: absolute;
		left: 60px;
		top: 15px;
		text-align: left;
		white-space: nowrap;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
	}

	a {
		text-decoration: none;
	}
	
	li {
		padding: 8px 0;
		white-space: nowrap;
		position: relative;
	}

	.hidden {
		display: none;
	}

	.smile {
		position: relative;
		.icon-day {
			font-size: 32px;
			position: relative;
		}
		.icon-night {
			font-size: 32px;
			position: absolute;
		}
		.zip {
			position: relative;
			.circle {
				position: absolute;
				border-radius: 50%;
				height: 10px;
				width: 10px;
			}
		}
		.icon-smile {
			font-size: 45px;
			line-height: 20px;
		}
	}
}

@media(min-width: 769px) {
	.navbar {
		width: 58px;
		display: inline-block;
		.burger { 
			display: none;
		}

		.logo {
			margin-top: 31px;
		}

		.list {
			padding: 0 0 41px 0;
		}

		.logo-section {
			height: 180px;
		}
		 
		.smile {
			padding: 40px 0;
			.zip {
				left: 63px;
				display: none;
			}
		}

		&:hover {
			width: 200px;
			transition: 0.1s;
			transition-timing-function: ease-out;
	
			.logo {
				margin-top: 40px;
				font-size: 80px;
				margin-left: 30px;
				transition: 0.1s;
			}
	
			.hidden {
				display: inline-block;
				transition: 0.1s;
			}
	
			.smile {
				.icon-day {	
					transition: 0.1s;
					display: inline-block;
					left: 35px;
				}
				.icon-night {
					transition: 0.1s;
					left: 110px;
					display: inline-block;
	
				}
				.zip {
					display: inline-block;
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.navbar {
		width: 100%;
		.logo {
			margin: 10px 0 10px 10px;
		}
		.burger {
			font-size: 26px;
			display: inline-block;
			position: relative;
			right: 20px;
			top: 15px;
		}

		.list {
			padding: 0 0 25px 0;
			margin: 0;
		}

		.hidden {
			display: inline-block;
		}
		.smile_wrapper {
			text-align: center;
		}

		.smile {
			display: inline-block;
			padding-bottom: 40px;
			.icon-day {
				display: inline-block;
				right: 25px
			}
			.icon-night {
				left: 44px;
				display: inline-block;

			}
			.zip {
				display: inline-block;
			}
		}
		
		.mobile_menu {
			display: none;
		}
		
		.show_mobile_menu {
			display: block;
		}
	}
}